@import 'reset.css';

html, body  {
    width: 100%;
}

body {
    background: #fff;
    font-family: Arial, serif;
    font-size: 20px;
    font-weight: 400;
    color: #363636;
    line-height: 1.6;
    text-align: left;
}

a {
    color: #363636;
}

a:hover {
    text-decoration: none;
    color: #2dd6c1;
}

.layout {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding: 50px 20px 0;
    margin-bottom: 50px;
}

.headerTitle {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
}

.headerSubTitle {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 70px;
}

.menu {
    display: block;
    text-align: center;
    list-style-type: none;
    font-size: 13px;
    text-transform: uppercase;
}

.menuItem {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 3px;
}

.menuDivider {
    display: inline-block;
    vertical-align: baseline;

    font-size: 17px;
    line-height: normal;
}

.menuLink {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    text-decoration: none;
}

.menuLink:hover {
    text-decoration: none;
    color: #2dd6c1;
}

.mainBg {
    display: block;
    background-repeat: no-repeat, no-repeat;
    background-position: 50%, 100%;
    background-size: cover, cover;
    background-image: url('./images/main-bg.jpg'), none;
    background-color: rgba(255, 255, 255, 0.7);
    height: 300px;
}

.recepieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    margin-top: -100px;
}

.recepieItem {
    flex-grow: 1;
    width: 50%;
    padding: 30px;
    color: #363636;
    box-sizing: border-box;
}

.recepieImage {
    display: block;
    width: 100%;
}

.recepieTitle {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.recepieInfo {
    flex: 1;
}

.recepieItemHolder {
    display: flex;
    height: 100%;
}

.recepieImageHolder {
    width: 300px;
    margin-right: 20px;
}

.ingredientItem {
    font-size: 14px;
    color: #727272;
}

.ingredientItem + .ingredientItem {
    margin-top: 10px;
}

.ingredientQuantity {
    margin-left: 5px;
}