.root {
    display: flex;
    width: 50%;
    padding: 30px;
    color: #363636;
    box-sizing: border-box;
}

.rootFake {
    width: 50%;
    display: flex;
    flex: 1;
    padding: 30px;
    color: #363636;
}

.holder {
    display: flex;
    height: 100%;
}

.imageHolder {
    width: 300px;
    margin-right: 20px;
}

.image {
    display: block;
    width: 100%;
    margin-right: 20px;
}

.info {
    flex: 1;
}

.title {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px 15px 0;
    font-weight: bold;
}

.ingredient {
    font-size: 14px;
    color: #727272;
}

.ingredient + .ingredient {
    margin-top: 10px;
}

.quantity {
    margin-left: 5px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
